<h2>New Email</h2>
<form>
  <div class="form-group">
    <label for="address">Recipient Address</label>
    {{input value=address id="address" class="form-control"}}
  </div>

  <div class="form-group">
    <label for="subject">Subject</label>
    {{input value=subject id="subject" class="form-control"}}
  </div>

  <div class="form-group">
    <label for="body">Body</label>
    {{textarea value=body id="body" class="form-control" rows="6"}}
  </div>

  <button class="btn btn-success" {{action 'save'}}>Save</button>
</form>
